/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Arial" sans-serif;
}

input {
  border-radius: 10px;
}

.container1 {
  display: inline-flex;
  gap: 10px; /* Gap between items */
  width: 100%;
}
.sidebar {
  background-color: #f0f0f0;
  padding: 10px;
  display: inline;
  width: 20%;
}
.midblock1{
display: inline;
width: 40%;
}
.previewblk1{
  display: inline;
  width: 40%;
  background-color: lightgray;
  }
  ul{
    list-style: none;
  }